<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> 게시판</title>
    <style>
      table {
        border-top: 1px solid #444444;
        border-collapse: collapse;
      }
      th, td {
        border-bottom: 1px solid #444444;
        padding: 10px;
      }
    </style>
  </head>
  <body>
      <h1 align = "center">게시글 리스트</h1>
      <table border="0" width="1000" align = "center">
        <tr align = "center">
            <th>글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>날짜</th>
            <th>첨부파일</th>
        </tr>
        {% for i in posts %}
        <tr align = "center">
          <td> {{ i[0] }} </td>
          <td> <a href="/board_view/{{ i[0] }}" style="text-decoration:none">{{ i[1] }} </a></td>
          <td> {{ i[2] }} </td>
          <td> {{ i[3] }} </td>
          <td> {{ i[5] }} </td>
        </tr>
        {% endfor %}
        <tr>
          <td> <p style="text-align:center; margin:0">
              <a href="/write" style="text-decoration:none">글쓰기</a>
            </p>
          </td>
          <td> <p style="text-align:center; margin:0">
              <a href="/" style="text-decoration:none">홈으로</a>
            </p>
          </td>
      </table>
  </body>
</html>
