<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{{ posts[0][1] }}</title>
<style>
  table {
      width: 50%;
      border: 2px solid #444444;
      border-collapse: collapse;
    }
  th, td {
        border: 1px solid #444444;
        padding: 10px;}
  div {
    text-align: center;
  }
</style>
  </head>
  <body>
    <form action="" method='POST' enctype="multipart/form-data">
    <table align = "center" border="5">
      <tr>
        <th height="30" width="50">글번호</th>
        <td>{{ posts[0][0] }}</td>
        <th width="50">작성자</th>
        <td>{{ posts[0][2] }}</td>
      </tr>
      <tr>
        <th colspan="2" width="30">제목</th>
        <td colspan="2" width="50">
          <textarea name="title">{{ posts[0][1] }}</textarea>
        </td>
      </tr>
      <tr>
        <th colspan="2" width="30">첨부파일</th>
        <td colspan="2" width="50"><input type="file" name="filename" /></td>
      </tr>
      <tr>
        <td colspan="4" height="400" align="top">
          <textarea name="data">{{ posts[0][4] }}</textarea>
        </td>
      </tr>
    </table>
    <br>
    <div>
      <input type="submit" value="수정완료">
      <input type="button" value="목록" onclick="location.href='/board'">
    </div>
  </body>
</html>
