<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=EUC=KR">
    <title> 환영합니다.</title>
    <style type="text/css">
    a.a-link {text-decoration:none}
    </style>
  </head>
  <body>
    <h1>회원 페이지</h1>
    <h2>hello {{ ID }}</h2>
    <ul>
      <li class="menu"><a href="/update" class="a-link">정보변경</a></li>
      <li class="menu"><a href="/logout" class="a-link">로그아웃</a></li>
      <li class="menu"><a href="/delete" class="a-link">회원탈퇴</a></li>
      <hr />
    </ul>
    <ul>
      <li class="menu"><a href="/introduce" class="a-link">소개</a></li>
      <li class="menu"><a href="/board" class="a-link">게시판</a></li>
      <hr />
    </ul>
  </body>
</html>
